<h2>game types</h2>
<div fxLayout fxLayoutAlign="center start" fxLayoutGap="16px">
  <app-game-type-card *ngFor="let gameType of gameTypes" [gameType]="gameType"></app-game-type-card>
</div>

<h2>rooms</h2>
<div fxLayout fxLayoutAlign="center">
  <mat-card fxLayout="column" style="width:400px;">
    <a [routerLink]="['/rooms', room.id]" *ngFor="let room of rooms" fxLayout fxLayoutAlign="space-between">
      <span>{{ room.gameType.name }} #{{ room.id }}</span>

      <span>
        <span *ngFor="let player of room.players"
             class="playerSpot"
             [ngStyle]="{'background-color': !player.isOpen ? 'dimgrey' : false}"
        ></span>
        </span>
    </a>
  </mat-card>
</div>

