<h2>Game Types</h2>
<div fxLayout fxLayoutAlign="center start" fxLayoutGap="16px">
  <app-game-type-card *ngFor="let gameType of gameTypes" [gameType]="gameType"></app-game-type-card>
</div>

<hr>
<h2>Open Sessions</h2>
<div fxLayout fxLayoutAlign="center">
  <mat-card fxLayout="column" fxLayoutGap="16px" style="width:400px;">
    <div fxLayout fxLayoutAlign="space-between center" *ngFor="let room of rooms">
      <div>
        <span>{{ room.gameType.name }} #{{ room.id }}</span>

        <div>
          <span *ngFor="let player of room.players"
                class="playerSpot"
                [ngStyle]="{'background-color': !player.isOpen ? 'dimgrey' : false}"
          ></span>
        </div>
      </div>

      <a mat-button [routerLink]="['/rooms', room.id]" fxLayout fxLayoutAlign="space-between">Join</a>
    </div>
  </mat-card>
</div>

